root: true

plugins:
  - compat

extends:
  - plugin:subztep/recommended
  - plugin:compat/recommended

env:
  browser: true

rules:
  no-inner-declarations: off
  "@typescript-eslint/no-unnecessary-type-constraint": error
