@import "./fonts.css";
@import "./sky.css";

html {
  color-scheme: dark light;
  font-family: "Mona Sans";
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  /* disable pinch zoom gestures and and double-tap to zoom */
  /* touch-action: pan-x pan-y; */

  /* disable panning */
  /* touch-action: none; */
}

input,
textarea,
button,
select {
  font: inherit;
}

#debug {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.7rem;
  color: yellow;
}
